body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

#frame {
    display: flex;
    justify-content: left;
    align-items: center;
}

.highlight {
    stroke: red !important;
    stroke-width: 3px !important;
  }

.tootlip { 
    position: absolute;
}
/*

add padding to vis2 
*/

#vis2 {
    padding-left: 50px;
    padding-bottom: 100px;
}

.selected {
    stroke: red !important;
    stroke-width: 3px !important;
  }

/* Make both vis stack on top of each other on smaller screens */

@media (max-width: 600px) {
    #vis1, #vis2 {
        flex-direction: column;
    }
}
